<div class="container" >
  <mat-card class="card-left">
    <img class="card-left-img" src="/assets/img/sandwich.png" alt="sandwich">
  </mat-card>
  <mat-card class="card-right">

    <div class="card-right-top">
      <h1 class="card-right-top-title">New Password</h1>
    </div>

    <form [formGroup]="form" class="card-right-mid">

      <mat-form-field class="card-right-mid-form" appearance="outline">
        <mat-label>Place your new password here!</mat-label>
        <input matInput type="password" required formControlName="newPassword" >
      </mat-form-field>
      <div class="form-error" *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched">
        Please provide a valid password.
      </div>

      <h2 class="card-right-title">Confirm password</h2>
      <mat-form-field  class="card-right-mid-form" appearance="outline">
        <mat-label class="card-right-form-field-label">Confirm Password:</mat-label>
        <input class="card-right-form-field-input" matInput type="password" formControlName="confirmPassword" required>
      </mat-form-field>
      <div class="form-error" *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch')">
        Passwords don't match.
      </div>

      <div class="card-right-bottom">
        <button class="card-right-bottom-button" (click)="onSubmit()" color="primary" mat-raised-button>Send</button>
        <button class="card-right-bottom-button-cancel" mat-raised-button routerLink="/login">Cancel</button>
      </div>
    </form>

  </mat-card>
</div>

