.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2em;
}
.card-left{
  width: 30%;
  height: 58em;
  padding: 3em;
  min-width: 300px;

  background-color: #F44336;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  box-shadow: 10px 10px 5px rgb(227, 227, 227);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-left-img{
  width: 60%;
  position: absolute;
}

.card-right{
  width: 30%;
  height: 58em;
  padding: 3em;
  min-width: 300px;

  background-color: #f8f8f8;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  box-shadow: 10px 10px 5px rgb(227, 227, 227);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-right-top{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-right-top-title{
  font-size: 40px;
  font-weight: bold;
  opacity: 0.8;
}

.card-right-top-subtitle{
  font-size: 20px;
  opacity: 0.8;
}

.card-right-mid{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.card-right-title{
  margin: 0;
  text-align: center;
}

.card-right-mid-form{
  text-align: center;
}

.card-right-bottom{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2em;
}

.card-right-bottom-button{
  width: 300px;
}

.card-right-bottom-button-cancel{
  width: 300px;
  background-color: white;
}

.card-right-signup{
  margin-top: 2em;
  font-size: 20px;
}

.login-error{
  color: #F44336;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.form-error{
  color: #F44336;
  text-align: center;
  margin-bottom: 1em;
}
