<body class="container">
  <mat-toolbar class="toolbar" color="primary">
    <h2 class="toolbar-title">FOOD APP</h2>
    <button mat-button routerLink="/login">LOGIN</button>
  </mat-toolbar>
  <div class="main">
    <div class="text">
      <h2 class="title">Welcome to Food App</h2>
      <p class="subtitle">
        My angular and spring boot project that mimics a food application, my objective
        <br>in this project was to build my first functional web app, and put to the test
        <br>some of my knowledge in full-stack development, all the UI is built with Angular Material,
        <br>in this project you will find features like functional login pages with ,
        <br>registration and password reset, food search with autocomplete suggestions,
        <br>an user account interface with the user informations, a table of foods that each
        <br>user have registered, the possibility of adding a new food and editing it,
        <br>also removing foods, and a cart page that shows the foods added from the home page.
        <br>
      </p>
    </div>
    <img src="/assets/img/sandwich.png" alt="">
  </div>
</body>
<app-footer></app-footer>
