<div class="container" >
  <mat-card class="card-left">
    <img class="card-left-img" src="/assets/img/sandwich.png" alt="sandwich">
  </mat-card>
  <mat-card class="card-right">

    <div class="card-right-top">
      <h1 class="card-right-top-title">Forgot my password</h1>
      <p class="card-right-top-subtitle">Place your email and we will send a password recovery email to you</p>
    </div>

    <form [formGroup]="form" class="card-right-mid">

      <h2 class="card-right-mid-title">Email:</h2>
      <mat-form-field class="card-right-mid-form" appearance="outline">
        <mat-label>Place your Email here!</mat-label>
        <input matInput type="text" required formControlName="email" >
      </mat-form-field>

      <div class="card-right-bottom">
        <button class="card-right-bottom-button" (click)="onSubmit()" color="primary" mat-raised-button>Send</button>
        <button class="card-right-bottom-button-cancel" mat-raised-button routerLink="/login">Cancel</button>
      </div>
    </form>

  </mat-card>
</div>

